<header class="global-header">
  <h1>{{#link-to 'fridges'}}Fridgey{{/link-to}}</h1>
  {{#link-to 'fridges.new' classNames="button"}}+ Add New Fridge{{/link-to}}
</header> <!-- /.global-header -->

<ul class="fridges">
  {{#each itemController="fridge"}}
  <li class="fridge">
    {{#link-to 'fridge' this}}{{name}}{{/link-to}} ({{inFridge.length}})
    {{#if grade}}
    <span title="Grade is based on ratio of items eaten vs thrown out.">grade</span>: {{grade}},
    {{/if}}
    <a href="#" class="delete-link" {{action 'deleteFridge'}}>Delete</a>
  </li>
  {{/each}}
</ul>

{{outlet}}
